<template>
    <form>
     <h3>you are logged out</h3>
</form>
    </template>
<script>
/* eslint-disable */
import axios from 'axios';
  export default {
    name: 'app',
    data() {
        return{
            User: []
        }
    },
    create() {
        let session = cookies.getItem('session');
        console.log(session)
        axios.get('http://localhost:5000/api/logout')
        .then((response) => {
            console.log(response.data);
            cookies.removeItem('session');
        })

    }    
    }
</script>
<style>
button {
    align: right;
}
</style>